* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}
header {
  display: flex;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
  color: #000;
}
header img,
header svg {
  height: auto;
  width: 2.5em;
  margin: 0.5em;
  margin-right: 0;
}
header img {
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}
#searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 10em;
  padding: 0.75em 1em 0.75em 1em;
  width: 45vw;
  margin: 1.25em;
  border-width: thin;
  border-color: #ddd;
}
#searchbox img {
  height: auto;
  width: 1em;
}
input {
  width: 100%;
  border-style: hidden;
  border-width: 0px;
  height: 100%;
}

button {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-style: hidden;
  color: #3c4043;
  height: 3em;
  border-radius: 5px;
  padding: 1em;
  margin: 0.25em;
  width: 10em;
}

#offeredin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14em;
}

body {
  margin: 0 0 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
  height:3.5em;
}
footer a {
    margin: 1em;
    color: #70757a;
}
a {
    color: #70757a;
}