* {
  font-family: "Google Sans", "Open Sans", "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}
#searchbox svg {
  height: auto;
  width: 1.5em;
  padding: 0.5em;
}
#googlogo {
  height: 30px;
  width: 92px;
  margin: 1.75em 0 auto 1em;
}
#searchbox {
  /*margin: 1.75em auto auto auto;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: hidden;
  border-radius: 50px;
  border-width: 1px;
  padding: 0 0.5em 0 1.5em;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  width: 42em;
  margin-left: 3em;
  height: 50%;
}
input {
  width: 90%;
  /*margin-left: 0px;*/
  border-style: hidden;
  font-size: 16px;
  outline: 0;
  border-right: solid;
  border-width: 1px;
  border-color: #dfe1e5;
}
#appsnuser {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}
#appsnuser svg {
  width: 1.5em;
  margin-right: 1em;
}
#appsnuser a {
  background-color: rgb(255, 0, 128);
  color: rgb(255, 255, 255);
  padding: 0.5em 0.75em 0.5em 0.75em;
  border-radius: 100%;
  text-decoration: none;
}
#leftheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50em;
  background: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/clear/v10/24px.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  opacity: 0.5;
  pointer-events: all;
}
/* All of the above is just the header :,) */
/* Coding is Hard But I Love it */
/* Can't wait to start programming */
/* I hope I can see this and laugh after a couple of years */

#nav {
  display: flex;
  justify-content: space-between;
  width: 42em;
  margin-left: 15em;
  font-size: small;
}
nav a {
  font-size: small;
  margin: 1em;
  color: #696c71;
  text-decoration: none;
  font-weight: 500;
}
