* {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
header {
  display: flex;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
  color: #000;
}
header img,
header svg {
  height: auto;
  width: 2.25em;
}
header img {
  border-radius: 50%;
  margin: 1.25em 1.5em auto 1.75em;
}
header svg {
  padding: 0;
  width: 1.8em;
  margin-left: 1em;
  margin: 1.45em 0 auto 2.15em;
}
#gmail {
  margin: 1.75em 0 auto 1em;
  color: #3f3f3f;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}
#searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 10em;
  padding: 0.75em 1em 0.75em 1em;
  width: 43vw;
  margin: 2em;
  border-width: thin;
  border-color: #ddd;
}
#searchbox img {
  height: auto;
  width: 1em;
}
input {
  width: 100%;
  border-style: hidden;
  border-width: 0px;
  height: 100%;
  outline: none;
}

button {
  background-color: #f8f9fa;
  border-color: #dadce0;
  border-style: hidden;
  color: #3c4043;
  height: 3em;
  border-radius: 5px;
  /*padding: 1em;*/
  margin: 0.25em;
  width: 12em;
  text-align: center;
  justify-content: center;
  font-size: 1em;
  border-width: 1px;
}

#offeredin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17em;
}

body {
  margin: 0 0 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
  height: 3.5em;
}
footer a {
  margin: 1em;
  color: #70757a;
}
a {
  color: #70757a;
  text-decoration: none;
}

#searchbox:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  border-style: solid;
}
a:hover {
  text-decoration: underline;
}
